:root {
  --base: min(9.375vw, calc(93.75vh / 14));
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
       appearance: textfield;
}
* {
  padding: 0;
  margin: 0;
  font: calc(var(--base) / 1.5) monospace, monospace;
  border-width: calc(var(--base) / 24);
  background-color: initial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#base {
  width: calc(var(--base) * 10);
  height: calc(var(--base) * 17 + var(--base) / 3);
  margin: calc(var(--base) / 3) auto;
  position: relative;
}
input[type="number"] {
  text-align: right;
}
button {
  background-color: ButtonFace;
}
:not(input) {
  -webkit-user-select: none;
          user-select: none;
}
input:not(.dummy) {
  border: solid;
}



.label {
  height: var(--base);
}
.label * {
  height: var(--base);
  float: left;
}
#pokeName {
  width: 75%;
  padding: calc(var(--base) / 6);
}
#lv {
  width: 25%;
}
#lv * {
  width: 50%;
}
#lv div {
  text-align: right;
  line-height: var(--base);
}



.tbl :not(:has(div, input), .dummy) {
  height: var(--base);
  line-height: var(--base);
}
.tbl > * {
  width: calc(40% / 3);
  float: left;
}
.tbl input {
  display: block;
  width: 100%;
}

.head {
  width: calc(20% / 3);
}

.header {
  font-size: 62.5%;
}
.header :not(input[value][type="number"]) {
  text-align: center;
  border: none;
}
:not(.head) > .header :not(input[value][type="number"]) {
  font-size: 87.5%;
  font-weight: bold;
  padding-top: calc(var(--base) / 3);
  line-height: calc(var(--base) / 1.5);
}

/*button*/
.ntr button {
  float: left;
  width: 50%;
  border: solid;
}
.ntr button[value="1.1"] {
  background-color: red;
  font-weight: bold;
}
.ntr button[value="0.9"] {
  background-color: blue;
  font-weight: bold;
}

#moveTbl, #ratioTbl, #stsIndexTbl, #copyTextArea {
  clear: both;
}

#ratioTbl > .ratio {
  width: 40%;
}
#ratioTbl > .ratio * {
  width: 100%;
  float: left;
}
#ratioTbl > .ratio > .header > div {
  width: 50%;
}
#ratioTbl > .ratio > .body > * > input {
  width: calc(100% / 3);
}
#ratioTbl > .ratio > .body > * > div {
  width: calc(50% / 3);
}
#ratioTbl .body > * {
  float: left;
}

#stsIndexTbl {
  clear: both;
  position: absolute;
  top: calc(var(--base) * 9);
  left: calc(var(--base) / 0.1875);
}
#stsIndexTbl .head {
  width: calc(var(--base) / 0.75);
}
#stsIndexTbl .head input {
  font-size: 75%;
}
#stsIndexTbl .stsIndex {
  width: calc(var(--base) / 0.3);
}
#stsIndexTbl .body input {
  width: calc(var(--base) / 0.3);
  text-align: right;
}

#copyTextArea * {
  height: calc(var(--base) * 3);
  float: left;
  margin-top: calc(var(--base) / 3);
}
#copyTextArea textarea {
  width: 87.5%;
  font-size: 75%;
  padding: calc(var(--base) / 6);
  resize: none;
}
#copyTextArea input {
  width: 12.5%;
  font-size: 50%;
}



.copyText {
  width: calc(var(--base) * 6.25);
  height: var(--base);
  text-align: center;
  line-height: var(--base);
  position: fixed;
  top: calc(50vh - calc(var(--base) / 2));
  left: calc(50vw - calc(var(--base) * 3.125));
  border: solid;
  background-color: white;
  opacity: 0.875;
}



.dummy {
  width: 0;
  height: 0;
  border: none;
}